<h1>New Thought</h1>

<%= error_messages_for :thought %>

<% form_for(:thought, :url => collection_url) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>
<br/>
<%= link_to 'Back', collection_url %>